
@charset "utf-8";
@media only screen and (max-width: 1440px) {
    .main_slider_nav_left {
        top: auto;
        left: auto;
        right: 79px;
        bottom: 14px;
        -webkit-transform: transform: none;
        -moz-transform: transform: none;
        -ms-transform: transform: none;
        -o-transform: transform: none;
        transform: none
    }
    .main_slider_nav_right {
        top: auto;
        left: auto;
        right: 39px;
        bottom: 14px;
        -webkit-transform: transform: none;
        -moz-transform: transform: none;
        -ms-transform: transform: none;
        -o-transform: transform: none;
        transform: none
    }
    .main_slider_shapes {
        right: 10%
    }
}
@media only screen and (max-width: 1280px) {
    .super_container {
        padding-left: 0;
        padding-right: 0
    }
    .main_slider_shapes {
        right: 5%
    }
}
@media only screen and (max-width: 1199px) {
    .top-header {
        display: none
    }
    .header {
        top: 0
    }
}
@media only screen and (max-width: 1100px) {
    .test_slider_nav_left {
        left: 15px
    }
    .test_slider_nav_right {
        right: 15px
    }
}
@media only screen and (max-width: 1024px) {
    .contact_shapes img {
        display: none
    }
}
@media only screen and (max-width: 991px) {
    h1 {
        font-size: 48px
    }
    .main_nav {
        display: none
    }
    .main_slider_shapes {
        display: none
    }
    .hamburger_container {
        display: block
    }
    .discover_button {
        margin-top: 37px
    }
    .home_social_container {
        right: 0
    }
    ./*hero_slider_container {
        height: calc(100vh - 110px)
    }*/


    .features_col {
        padding-bottom: 0
    }
    .features_col:last-child {
        padding-bottom: 120px
    }
    .about_text {
        padding-right: 0
    }
    .skills_container {
        margin-top: 50px
    }
    .test_slider_nav_left {
        left: -48px
    }
    .test_slider_nav_right {
        right: -48px
    }
    .service_item {
        margin-bottom: 50px
    }
    .service_item h3 {
        margin-bottom: 15px
    }
    .icon_container {
        margin-bottom: 30px
    }
    .services_button {
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0
    }
    .contact_shapes img {
        display: none
    }
    .fs_menu_list li a {
        font-size: 25px;
    }
    .fs_menu_container{
        padding-top: 100px;
    }
}
@media only screen and (max-width: 767px) {
    .main_slider_content {
        width: 100%
    }

    .main_slider_nav {
        display: none
    }
    .test_slider_nav {
        display: none!important
    }
    .testimonials_content {
        padding-left: 15px;
        padding-right: 15px
    }
    .footer_social li {
        margin-left: 4px
    }
    .footer_social li i {
        font-size: 13px
    }
}
@media only screen and (max-width: 575px) {
    h2 {
        font-size: 24px
    }
    p {
        font-size: 14px
    }
    .header {
        padding-left: 15px;
        padding-right: 15px
    }
    .logo {
        margin-left: 4px
    }
    .fs_menu_shapes {
        width: 30%;
        bottom: 35px;
        left: -30px
    }
    .fs_menu_list li a {
        font-size: 48px
    }
    .fs_menu_container {
        padding-right: 30px
    }
    .fs_social_container {
        right: 20px
    }
    .home_social_container {
        display: none!important
    }
    .footer {
        padding-top: 30px;
        padding-bottom: 30px
    }
    .footer_content {
        height: auto
    }
    .cr p {
        font-size: 13px;
        margin-bottom: 15px
    }


}
@media only screen and (max-width: 479px) {
    h1 {
        font-size: 24px
    }
    h2 {
        font-size: 16px
    }
    h3 {
        font-size: 16px
    }
    p {
        font-size: 13px
    }
    .fs_menu_container.active {
        padding-top: 120px
    }
    .fs_menu_list li a {
        font-size: 24px
    }
    .fs_menu_list li a > span::after {
        bottom: 0;
        height: 2px
    }
    .fs_menu_list li a span span {
        top: 0;
        left: -2px
    }
    .fs_social li {
        margin-left: 5px
    }
    .main_slider_content p {
        font-size: 13px
    }
    .button {
        width: 170px;
        height: 50px
    }
    .button a {
        font-size: 9px;
        line-height: 50px
    }
    .discover_button {
        margin-top: 28px
    }
    .header {
        height: 90px
    }
    .hero_slider_container {
        margin-top: 90px;
        height: calc(100vh - 90px)
    }
    .main_slider_dots {
        display: none
    }
    .main_slider_content {
        position: absolute;
        top: 50%;
        left: 15px;
        height: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: 0
    }
    .slider_content_col {
        height: calc(100vh - 90px)
    }
    .features {
        padding-top: 120px;
        padding-bottom: 120px
    }
    .features_col {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 60px
    }
    .features_col:last-child {
        padding-bottom: 0;
        margin-bottom: 0
    }
    .features_item p {
        margin-top: 18px
    }
    .features_item img {
        margin-bottom: 5px
    }
    .about {
        padding-top: 165px
    }
    .about_shapes img {
        width: 70%
    }
    .section_title h2::before {
        bottom: 51px
    }
    .service_item {
        margin-bottom: 40px
    }
    .icon_container {
        margin-bottom: 25px
    }
    .service_item h3 {
        margin-bottom: 10px
    }
    .services_button {
        margin-top: 30px
    }
    .services_shapes {
        top: 0;
        text-align: right
    }
    .services_shapes img {
        width: 70%
    }
    .contact_button {
        margin-top: 45px
    }



  .close-alert {
    margin-top:10%;

  }
  .status-OK{
      margin:5%;
  }

  .status-KO{
    margin:5%;
    }

    .features{
        padding-top:25%!important;
    }

    .features ul {
        position: relative;
        -webkit-transform: rotate(-35deg) skew(20deg, 5deg);
                transform: rotate(-35deg) skew(20deg, 5deg);
          margin-left:33%;
      }

      .list-item {

        text-align: center;
        height: 2.5em;
        width: 4em;
        vertical-align: middle;
        line-height: 2.5em;
        position: relative;
        display: block;
        text-decoration: none;
        box-shadow: -2em .75em 0 #67676757;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
      }
      .list-item:hover {
        background: #ff6e42;
        -webkit-transform: translate(0.9em, -0.9em);
                transform: translate(0.9em, -0.9em);
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        box-shadow: -2em 2em 0 #67676757;
      }
      .list-item:hover:before, .list-item:hover:after {
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
      }
      .list-item:hover:before {
        background: #b65234;
        width: 1em;
        top: .48em;
        left: -1em;
      }
      .list-item:hover:after {
        background: #b65234;
        width: 1em;
        bottom: -2.65em;
        left: 1em;
        height: 4em;
      }
      .list-item:before, .list-item:after {
        content: '';
        position: absolute;
        -webkit-transition: all .25s linear;
        transition: all .25s linear;
        width: .5em;
      }
      .list-item:after {
        height: 4em;
        bottom: -2.45em;
        left: 1.5em;
        -webkit-transform: rotate(90deg) skew(0, 45deg);
                transform: rotate(90deg) skew(0, 45deg);
      }
      .list-item:before {
        height: 2.5em;
        top: .25em;
        left: -.5em;
        -webkit-transform: skewY(-45deg);
                transform: skewY(-45deg);
      }
      #features_content{
        padding-top:100px!important;
        padding-right:10%;
    }

    #switch{
        display: none;
    }



}
